.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-medium);

  & .main__header {
    display: flex;
    gap: var(--spacing-medium);
    align-content: center;
    justify-content: space-between;

    & .add_activity {
      &:hover {
        color: var(--clr-primary-accent);
        cursor: pointer;
      }
    }
  }

  & .main__activities {
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-small);
    gap: var(--spacing-medium);
    padding-bottom: 40vh;
  }
}
