.button {
  display: flex;
  gap: var(--spacing-small);
  align-items: center;
  color: var(--clr-primary-background);
  justify-items: center;
  background-color: var(--clr-primary-accent);
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--fs-h6);
  border-radius: var(--border-radius-medium);
  border: none;
  cursor: pointer;

  &:hover {
    background-color: var(--clr-primary-accent-hover);
    color: var(--clr-primary-background);
  }

  &.button__secondary {
    background-color: var(--clr-secondary-accent);

    &:hover {
      background-color: var(--clr-secondary-accent-hover);
      color: var(--clr-primary-background);
    }
  }

  &.button__tertiary {
    background-color: var(--clr-tertiary-accent);

    &:hover {
      background-color: var(--clr-tertiary-accent-hover);
      color: var(--clr-primary-background);
    }
  }
}
